header nav a {
    color: #fff
}
header nav a:hover {
  color: #CCC
}

footer p {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  margin: 3rem auto;
}

.form-signup {
  max-width: 630px;
  margin: 3rem auto;
}

.material-icons {
  vertical-align: top;
}

.sidebar a {
  color: #666;
}

.sidebar a:hover {
  background: #EEE;
  color: #007bff;
}
